@if (isSidebarExpanded()) {
<div class="mt-2 pl-4">
  <app-category-menu #categoryMenu [selectedItem]="selectedItem()"
  (menuClosed)="onCategoryMenuClosed()" (onEdit)="editCategory($event)" (onDelete)="deleteCategory($event)" (onAddSubfolder)="addSubfolder($event)" ></app-category-menu>
  <mat-tree #categoryTree [dataSource]="categoryListData()" [childrenAccessor]="childrenAccessor">
    <!-- Leaf Nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="10"
      [class.!bg-blue-50]="node.isSelected" class="hover:!bg-teal-50">
      <span class="w-[40px]">&nbsp;</span>
      <button matIconButton [disableRipple]="true" (click)="onCategorySelect(node, categoryTree, $event)"
        class="flex-1 !justify-start !text-left !py-1 text-slate-600 hover:!bg-transparent bg-transparent !text-xs !font-medium flex items-center group">
        <mat-icon class="scale-75 text-slate-400 group-hover:text-blue-500 transition-colors">label</mat-icon>
        <span class="truncate">{{ node.name }}</span>
      </button>
      <button matIconButton [matMenuTriggerFor]="categoryMenu.menu" (click)="showCategoryActions(node, $event)"
        class="action-icons ml-auto hover-show">
        <mat-icon class="scale-75 text-slate-400">more_vert</mat-icon>
      </button>
    </mat-tree-node>

    <!-- Expandable Nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10"
      [class.!bg-blue-50]="node.isSelected" class="hover:!bg-teal-50">
      <div class="flex flex-1">
        <button matIconButton [disableRipple]="true" (click)="categoryTree.toggle(node)"
          class="!text-slate-400 hover:!text-blue-500 transition-colors">
          <mat-icon class="scale-75 text-slate-400 hover:!text-black action-expand">{{categoryTree.isExpanded(node) ?
            'expand_more' : 'chevron_right'}}</mat-icon>
        </button>
        <button (click)="onCategorySelect(node, categoryTree, $event)" matIconButton [disableRipple]="true"
          class="flex-1 !justify-start !text-left !py-1 text-slate-700 hover:!bg-transparent bg-transparent !text-xs !font-semibold flex items-center group">
          <mat-icon class="scale-75 text-slate-400 group-hover:text-blue-500 transition-colors">folder</mat-icon>
          <span class="truncate">{{ node.name }}</span>
        </button>
        <button matIconButton [matMenuTriggerFor]="categoryMenu.menu" (click)="showCategoryActions(node, $event)"
          class="action-icons ml-auto hover-show">
          <mat-icon class="scale-75 text-slate-400">more_vert</mat-icon>
        </button>
      </div>
    </mat-tree-node>

  </mat-tree>
</div>
}