:host {
    display: flex;
    flex-direction: column;
    height: 100%; 
    ::ng-deep {
        .edit-dialog-button:focus {
            .mat-mdc-button-persistent-ripple::before {
                background-color: currentColor;
                opacity: 0.12;
            }
        }
    }
}

mat-dialog-content {
    flex: 1;
}

mat-dialog-actions {
    margin-top: auto;
}